---
interface HuellaCarbono {
    tipo_combustible: string
    huella_carbono_id: number
    kilometros_recorridos: number
    indice_eficiencia: number
    huella_carbono: number
}

import LayoutComparativa from "../../layouts/LayoutComparativa.astro";
import { getHuellacarbonoById } from "../../lib/getHuellaCarbono";

export const prerender = false;
const { id } = Astro.params;


let huellacarbono
if (id) {
  huellacarbono = await getHuellacarbonoById(id);
}

const { tipo_combustible, kilometros_recorridos, huella_carbono} = huellacarbono as HuellaCarbono;
---

<LayoutComparativa title="Huella de Carbono">
  <header class="max-w-screen-lg w-[80%] mx-auto pt-16">
    <a
      href="/"
      class="bg-segundo py-3 px-6 text-white rounded-full hover:bg-tercero transition-all"
      >Volver</a
    >
    <h1 class="text-4xl font-extrabold text-white text-center mt-10">
      Huella de carbono
    </h1>
  </header>
  <main class="py-16 max-w-screen-lg w-[80%] mx-auto text-center text-white ">
    <p class="text-xl">La huella de carbono que genera el vehiculo tras recorrer <span class="text-2xl font-extrabold text-naranja">{kilometros_recorridos} KM</span> es de <span class="text-2xl font-extrabold text-quinto">{huella_carbono} gramos</span>.</p>
  </main>
</LayoutComparativa>
