---
import LayoutComparativa from "../layouts/LayoutComparativa.astro";
---

<LayoutComparativa title="Página no econtrada">
    <header class="max-w-screen-lg w-[80%] mx-auto pt-16">
        <a
        href="/"
        class="bg-segundo py-3 px-6 text-white rounded-full hover:bg-tercero transition-all"
        >Volver</a
        >
        <h1 class="font-extrabold text-white text-center mt-10 text-8xl">404</h1>
    </header>
    <main class="py-16 max-w-screen-lg w-[80%] mx-auto text-center text-white ">
        <p>La página que buscas no existe</p>
    </main>
</LayoutComparativa>