---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Sobre el proyecto">
    <main class="mt-8 max-w-screen-lg w-[95%] mx-auto px-4">
        <h1 class="text-primero font-bold text-4xl mb-3">Sobre el proyecto</h1>
        <p class="text-xl text-gray-700">Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus consectetur quo atque dolor architecto fugit a, vitae aperiam in, commodi, adipisci quos quibusdam? Qui, temporibus doloribus consequuntur libero animi incidunt.</p>

        <h2 class="mt-4 text-primero font-bold text-4xl mb-3">Objetivo</h2>
        <p class="text-xl text-gray-700">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, amet explicabo quia modi, maxime distinctio maiores nulla odit voluptas, iure alias perspiciatis cupiditate impedit eveniet ad hic provident labore assumenda?</p>
        <br>
    </main>
</Layout>