<article
  class="bg-gray-50/50 transition-all hover:border-cuarto hover:shadow-md shadow-sm border-2 border-gray-300 rounded-lg px-5 py-4"
>
  <main class="flex items-center">
    <section class="text-center">
      <p class="bg-blue-500 text-white rounded-md">Moto</p>
      <h2 class="text-xl font-bold text-segundo mt-3">Boxer CT 100</h2>
      <p class="text-gray-700">Año 2000</p>
      <p class="text-gray-700">CO2 80 ppm</p>
    </section>
    <span class="font-extrabold text-4xl text-tercero px-4">VS</span>
    <section class="text-center">
      <p class="bg-blue-500 text-white rounded-md">Moto</p>
      <h2 class="text-xl font-bold text-segundo mt-3">Boxer CT 100</h2>
      <p class="text-gray-700">Año 2000</p>
      <p class="text-gray-700">CO2 80 ppm</p>
    </section>
  </main>
  <footer>
    <a
      class="bg-segundo hover:bg-tercero transition-all block py-2 text-center text-white rounded-md mt-4 cursor-pointer"
    >
      Ver comparativa
    </a>
  </footer>
</article>
