<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
  <table class="w-full text-sm text-left rtl:text-right text-gray-500">
    <thead class="text-xs text-gray-700 uppercase">
      <tr>
        <th scope="col" class="px-6 py-3 bg-gray-50"> Características </th>
        <th scope="col" class="px-6 py-3"> Valores </th>
      </tr>
    </thead>
    <tbody>
      <tr class="border-b border-gray-200">
        <th scope="row" class="px-6 py-4 font-medium text-gray-900 bg-gray-50">
          Emisión de CO₂ (g/km)
        </th>
        <td class="px-6 py-4"> 100 </td>
      </tr>
      <tr class="border-b border-gray-200">
        <th scope="row" class="px-6 py-4 font-medium text-gray-900 bg-gray-50">
          Consumo de Combustible (L/100Km)
        </th>
        <td class="px-6 py-4"> 1.8 </td>
      </tr>
      <tr class="border-b border-gray-200">
        <th scope="row" class="px-6 py-4 font-medium text-gray-900 bg-gray-50">
          Capacidad de Carga
        </th>
        <td class="px-6 py-4"> 50kg </td>
      </tr>
      <tr class="border-b border-gray-200">
        <th scope="row" class="px-6 py-4 font-medium text-gray-900 bg-gray-50">
          Año
        </th>
        <td class="px-6 py-4"> 2022 </td>
      </tr>
      <tr class="border-b border-gray-200">
        <th scope="row" class="px-6 py-4 font-medium text-gray-900 bg-gray-50">
          Marca
        </th>
        <td class="px-6 py-4"> Boxer </td>
      </tr>
      <tr class="border-b border-gray-200">
        <th scope="row" class="px-6 py-4 font-medium text-gray-900 bg-gray-50">
          Tipo de Combustible
        </th>
        <td class="px-6 py-4"> Gasolina </td>
      </tr>
      <tr class="border-b border-gray-200">
        <th scope="row" class="px-6 py-4 font-medium text-gray-900 bg-gray-50">
          Tipo de Vehiculo
        </th>
        <td class="px-6 py-4"> Moto </td>
      </tr>
    </tbody>
  </table>
</div>
