<section
  id="comparativas-personalizadas"
  class="max-w-screen-xl w-[95%] mx-auto py-16 px-4 flex items-center flex-col"
>
  <h2 class="text-primero font-bold text-4xl text-center">
    Comparativas Personalizadas
  </h2>
  <p class="w-2/3 mt-3 text-center">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam
    voluptates, veritatis voluptatem soluta repellendus accusamus voluptatum
    harum dolore
  </p>
</section>
