---
export const prerender = false
---
<section
  id="comparativas-personalizadas"
  class="py-36 px-4 flex items-center flex-col"
>
  <div class="max-w-screen-sm w-[95%] mx-auto">
    <h2 class="text-white font-bold text-4xl text-center">
      Calcula la huella de carbono de tu vehículo
    </h2>
    <p class="mb-10 mt-3 text-base text-gray-200 text-center">
      Personaliza los datos para analizar vehículos específicos según tu uso y necesidades. Descubre cuál es más eficiente, económico y respetuoso con el medio ambiente.
    </p>
  </div>
  <form class="flex items-center justify-center gap-4 mt-3">
    <div>
      <label
        for="kilometraje"
        class="block mb-2 text-sm font-medium text-gray-200"
        >kilometraje a Recorrer</label
      >
      <input
        type="number"
        id="kilometraje"
        class="bg-gray-700/70 placeholder:text-gray-300 border border-gray-300 text-gray-200 text-sm rounded-lg focus:ring-cuarto focus:border-cuarto block w-full p-2.5"
        placeholder="Escribe los kilometros"
        required
      />
    </div>
    <div>
      <label
        for="eficiencia"
        class="block mb-2 text-sm font-medium text-gray-200"
        >Indique la eficiencia</label
      >
      <input
        type="number"
        id="eficiencia"
        class="bg-gray-700/70 placeholder:text-gray-300 border border-gray-300 text-gray-200 text-sm rounded-lg focus:ring-cuarto focus:border-cuarto block w-full p-2.5"
        placeholder="Escribe la eficiencia"
        required
      />
    </div>
    <div>
      <label
        for="combustible"
        class="block mb-2 text-sm font-medium text-gray-200"
        >Tipo de combustible</label
      >
      <select
        id="combustible"
        class="bg-gray-700/70 border border-gray-300 text-gray-200 text-sm rounded-lg focus:ring-cuarto focus:border-cuarto block w-full p-2.5"
        required
      >
        <option value="">Seleccione el tipo de combustible</option>
        <option value="gasolina">gasolina</option>
        <option value="diesel">diesel</option>
      </select>
    </div>
    <div class="mt-6">
      <button
        id="calcularCO2"
        type="submit"
        class="w-full text-white bg-segundo hover:bg-tercero transition-all focus:ring-1 focus:outline-none focus:ring-white/70 font-medium rounded-full text-sm px-5 py-2.5 text-center"
      >
        Calcular CO2
      </button>
    </div>
  </form>
</section>

<script>
import { post } from "../lib/fastapi";


  const huellaCarbono = {
    "kilometros_recorridos": 0,
    "indice_eficiencia": 0,
    "tipo_combustible": "",
  };

  const calcularCL2 = document.getElementById("calcularCO2");

  calcularCL2.addEventListener("click", (e) => {
    e.preventDefault();
    huellaCarbono.kilometros_recorridos = parseFloat(
      (document.getElementById("kilometraje") as HTMLInputElement).value
    );
    huellaCarbono.indice_eficiencia = parseFloat(
      (document.getElementById("eficiencia") as HTMLInputElement).value
    );
    huellaCarbono.tipo_combustible = (
      document.getElementById("combustible") as HTMLSelectElement
    ).value;

    calcularHuellaDeCarbono();
  });

  async function calcularHuellaDeCarbono() {
    const { kilometros_recorridos, indice_eficiencia, tipo_combustible } = huellaCarbono;

    // const datos = new FormData();
    // datos.append("kilometraje", kilometraje.toString());
    // datos.append("eficiencia", eficiencia.toString());
    // datos.append("combustible", combustible);

    try {
      const resultado = await post("calcular-co2", huellaCarbono);
      const huellaCarbonoId = resultado.huella_carbono_id;
      window.location.href = `/huellacarbono/${huellaCarbonoId}`;
      
    } catch (error) {
      console.error("Error al calcular la huella de carbono", error);
    }
  }
</script>
