<section
  id="comparativas-personalizadas"
  class="py-36 px-4 flex items-center flex-col"
>
  <div class="max-w-screen-sm w-[95%] mx-auto">
    <h2 class="text-white font-bold text-4xl text-center">
      Comparativas Personalizadas
    </h2>
    <p class="mb-10 mt-3 text-base text-gray-200 text-center">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam
      voluptates, veritatis voluptatem soluta repellendus accusamus voluptatum
      harum dolore
    </p>
  </div>
  <form class="flex items-center justify-center gap-4 mt-3">
    <div>
      <label
        for="kilometraje"
        class="block mb-2 text-sm font-medium text-gray-200"
        >kilometraje a Recorrer</label
      >
      <input
        type="number"
        id="kilometraje"
        class="bg-gray-700/70 placeholder:text-gray-300 border border-gray-300 text-gray-200 text-sm rounded-lg focus:ring-cuarto focus:border-cuarto block w-full p-2.5"
        placeholder="Escribe los kilometros"
        required
      />
    </div>
    <div>
      <label
        for="eficiencia"
        class="block mb-2 text-sm font-medium text-gray-200"
        >Indique la eficiencia</label
      >
      <input
        type="number"
        id="eficiencia"
        class="bg-gray-700/70 placeholder:text-gray-300 border border-gray-300 text-gray-200 text-sm rounded-lg focus:ring-cuarto focus:border-cuarto block w-full p-2.5"
        placeholder="Escribe la eficiencia"
        required
      />
    </div>
    <div>
      <label
        for="combustible"
        class="block mb-2 text-sm font-medium text-gray-200"
        >Tipo de combustible</label
      >
      <select
        id="combustible"
        class="bg-gray-700/70 border border-gray-300 text-gray-200 text-sm rounded-lg focus:ring-cuarto focus:border-cuarto block w-full p-2.5"
        required
      >
        <option value="">Seleccione el tipo de combustible</option>
        <option value="gasolina">Gasolina</option>
        <option value="diesel">Diesel</option>
      </select>
    </div>
    <div class="mt-6">
      <button
        id="calcularCO2"
        type="submit"
        class="w-full text-white bg-segundo hover:bg-tercero transition-all focus:ring-1 focus:outline-none focus:ring-white/70 font-medium rounded-full text-sm px-5 py-2.5 text-center"
      >
        Calcular CO2
      </button>
    </div>
  </form>
</section>

<script>
  const { FASTAPI_URL } = import.meta.env;

  const huellaCarbono = {
    kilometraje: 0,
    eficiencia: 0,
    combustible: "",
  };

  const calcularCL2 = document.getElementById("calcularCO2");

  calcularCL2.addEventListener("click", (e) => {
    e.preventDefault();
    huellaCarbono.kilometraje = parseFloat(
      (document.getElementById("kilometraje") as HTMLInputElement).value
    );
    huellaCarbono.eficiencia = parseFloat(
      (document.getElementById("eficiencia") as HTMLInputElement).value
    );
    huellaCarbono.combustible = (
      document.getElementById("combustible") as HTMLSelectElement
    ).value;

    calcularHuellaDeCarbono();
  });

  async function calcularHuellaDeCarbono() {
    const { kilometraje, eficiencia, combustible } = huellaCarbono;

    const datos = new FormData();
    datos.append("kilometraje", kilometraje.toString());
    datos.append("eficiencia", eficiencia.toString());
    datos.append("combustible", combustible);

    console.log(datos);

    try {
      const url = `${FASTAPI_URL}/huella-carbono`;
      const respuesta = await fetch(url, {
        method: "POST",
        body: datos,
      });

      const resultado = await respuesta.json();
      console.log(resultado);
    } catch (error) {
      console.error("Error al calcular la huella de carbono", error);
    }
  }
</script>
