<footer
  class="max-w-screen-xl w-[95%] mx-auto py-5 border-2 mb-2 rounded-full px-5 "
>
  <p class="text-center text-white">
    Desarollador por <a
      href="https://github.com/germandcb"
      class="hover:text-quinto">@germandcb</a
    >
    <a href="https://github.com/WeebB0i" class="hover:text-quinto">@santiagom</a
    >
  </p>
</footer>
