<header class="max-w-screen-xl w-[95%] mx-auto flex flex-row justify-between py-5 items-center border-2 mt-2 rounded-full px-5 bg-slate-50">
    <a href="/" class="text-primero text-4xl font-extrabold">CoDon't</a>
   <nav>
    <ul class="flex flex-row gap-3">
        <li>
            <a class="hover:text-tercero transition-all" href="/sobre-el-proyecto">Sobre el Proyecto</a>
        </li>
        <li>
            <a class="hover:text-tercero transition-all" href="#comparativas-automaticas">Comparativas Automaticas</a>
        </li>
        <li>
            <a class="hover:text-tercero transition-all" href="#comparativas-personalizadas">Comparativas Personalizadas</a>
        </li>
    </ul>
</nav>
</header>
