<header class="max-w-screen-xl w-[95%] mx-auto flex flex-row justify-between py-5 items-center border-2 mt-2 rounded-full px-10 bg-gray-50/15">
    <a href="/" class="text-4xl text-white font-extrabold logo">CoDon't</a>  
   <nav>
    <ul class="flex flex-row gap-3">
        <li>
            <a class="text-white hover:text-quinto transition-all" href="/sobre-el-proyecto">Sobre el Proyecto</a>
        </li>
        <li>
            <a class="text-white hover:text-quinto transition-all" href="#comparativas-automaticas">Comparativas Automaticas</a>
        </li>
        <li>
            <a class="text-white hover:text-quinto transition-all" href="#comparativas-personalizadas">Comparativas Personalizadas</a>
        </li>
    </ul>
</nav>
</header>
<style>
    .logo{
        -webkit-text-stroke: 1px #37a7ac;
        transition: all 0.3s;
    }
    .logo:hover{
        -webkit-text-stroke: 1px #5eebe2;
    }
</style>