<section class="max-w-screen-sm w-[80%] mx-auto pt-40 pb-20 px-8 text-center">
  <div class="">
    <h1 class="text-white font-bold text-4xl">
      ¡Compara vehículos y toma decisiones más sostenibles!
      
    </h1>
    <p class="mb-10 mt-3 text-base text-gray-200">
      Descubre el impacto ambiental y los costos a largo plazo de los vehículos que elijas. Utiliza nuestra herramienta para analizar la huella de carbono, eficiencia y costos operativos de diferentes vehículos. Ahorra dinero y contribuye a un futuro más verde.
    </p>
    <div class="flex gap-3 justify-center">
      <a
        class="bg-segundo py-3 px-6 text-white rounded-full hover:bg-tercero transition-all"
        href="#comparativas-recomendadas"
        >Ver Comparativas Automaticas
      </a>
      <a
        class="bg-segundo py-3 px-6 text-white rounded-full hover:bg-tercero transition-all"
        href="#comparativas-recomendadas"
        >Comparativa Personalizada
      </a>
    </div>
  </div>
</section>
